.maintab {
    border: 1px solid black;
    padding: 12px 24px 24px 24px;
    border-radius: 16px;
}

.tab {
    overflow: hidden;
}

.tab button {
    background-color: transparent;
    border-color: transparent;
    border-width: 0 0 1.5px 0;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    margin-right: 16px;
    transition: 0.3s;
}

.tab button:hover {
    border-color: black;
    border-width: 0 0 1.5px 0;
}

.tab button.active {
    border-color: black;
    border-width: 0 0 1.5px 0;
}

.tabcontent {
    display: none;
}